<template>
	<v-app id="inspire">
		<v-navigation-drawer
		width="310"
		style="z-index:9999;"
		temporary
		v-model="drawer"
		app
		>

		<v-list dense>
			<v-list-item>
				<v-list-item-action>
					<v-icon>mdi-filter-outline</v-icon>
				</v-list-item-action>
				<v-list-item-content>
					<v-list-item-title>
						<h2>Estaciones</h2>
					</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
			<v-form
			ref="form"
			v-model="isFormValid"
			lazy-validation
			>
			<v-list-item>
				<v-select v-if="estaciones"
				v-model="chartFilters.estacion"
				:items="estaciones"
				label="Estación"
				:rules="[v => !!v || 'La estación es obligatoria']"
				hint="Seleccione uno o más"
				persistent-hint
				></v-select>
			</v-list-item>
			<v-list-item>
				<v-select
				v-model="variableSeleccionada"
				:items="variables"
				label="Variable"
				:rules="[v => !!v || 'Al menos una varible es obligatoria']"
				chips
				hint="Seleccione uno o más"
				persistent-hint
				></v-select>
			</v-list-item>
			<v-list-item>
				<small class="v-messages theme--light">Frecuencia</small>
			</v-list-item>
			<v-list-item>
				<v-btn-toggle
				v-model="chartFilters.frecuencia"
				:rules="[v => !!v || 'La frecuencia es obligatoria']"
				tile
				background-color="primary"
				color="deep-purple accent-3"
				group>
				<v-btn small :value="f" v-for="f in frecuencias" :key="f">
					{{f}}
				</v-btn>
				
			</v-btn-toggle>
			<!--<v-select
			v-model="frecuencia"
			:items="frecuencias"
			label="Frecuencia"
			persistent-hint
			></v-select>-->
		</v-list-item>
		<v-list-item v-if="chartFilters.frecuencia != 'horaria'">
			<v-select
			v-model="chartFilters.tipo"
			:items="tipos"
			:rules="[v => !!v || 'El tipo es obligatorio']"
			label="Tipo de Dato"
			persistent-hint
			></v-select>
		</v-list-item>
		<v-list-item>
			<v-menu	ref="menu" v-model="menu" :close-on-content-click="true" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
				<template v-slot:activator="{ on, attrs }">
					<v-text-field
					v-model="chartFilters.desde"
					label="Fecha inicio"
					readonly
					required
					:rules="[v => !!v || 'Esta fecha es obligatoria']"
					v-bind="attrs"
					v-on="on"
					></v-text-field>
				</template>
				<v-date-picker v-model="chartFilters.desde" locale="es-es" no-title scrollable>
					<v-spacer></v-spacer>
					<v-btn text	color="primary"	@click="menu = false">Cancelar</v-btn>
					<v-btn text color="primary" @click="$refs.menu.save(chartFilters.desde)">Aceptar</v-btn>
				</v-date-picker>
			</v-menu>
		</v-list-item>
		<v-list-item>
			<v-menu ref="menu" v-model="menu2" :close-on-content-click="true" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
				<template v-slot:activator="{ on, attrs }">
					<v-text-field v-model="chartFilters.hasta" label="Fecha Fin" :rules="[v => !!v || 'Esta fecha es obligatoria']" required readonly v-bind="attrs" v-on="on"></v-text-field>
				</template>
				<v-date-picker v-model="chartFilters.hasta" locale="es-es" no-title scrollable>
					<v-spacer></v-spacer>
					<v-btn text color="primary" @click="menu = false">Cancelar</v-btn>
					<v-btn text color="primary" @click="$refs.menu.save(chartFilters.hasta)">Aceptar</v-btn>
				</v-date-picker>
			</v-menu>
		</v-list-item>
		<v-list-item>
			<v-btn color="primary" large block depressed elevation="2" @click="filtrar()" :loading="filtrarLoading">Filtrar</v-btn>
		</v-list-item>
		<v-list-item>
			<v-btn color="error" @click="reset" class="mt-5" large block depressed elevation="2">Reiniciar filtros</v-btn>
		</v-list-item>
	</v-form>
	<br>
</v-list>
</v-navigation-drawer>

<v-app-bar
app
color="indigo"
dark
>
<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
<v-toolbar-title>Sistema de monitoreo meteorológico de alta montaña</v-toolbar-title>
<v-spacer></v-spacer>
<v-btn to="/">
	<v-icon>mdi-map-marker</v-icon> Volver al mapa
</v-btn>

</v-app-bar>

<v-main class="grey lighten-3 pt-0">
	<v-container>
		<v-row v-if="alerta_datos > 1">
			<v-col>
				<v-alert
				border="top"
				color="orange"
				prominent
				text
				type="warning"
				>
				Esta estación no ha registrado nueva información desde el satelite por más de {{alerta_datos}} días
			</v-alert>
		</v-col>
	</v-row>
	<v-row>
		<v-col lg="3" md="3" sm="12" xs="12">
			<v-card>
				<v-card-subtitle class="pb-0">
					Estacion
				</v-card-subtitle>
				<v-card-title class="pt-0">
					{{nombre}}
				</v-card-title>
				<!--<v-card-text>Altitud: </v-card-text>-->
				<v-card-text>Último dato recibido: <br> {{ultimoDatoRecibidoFecha}}</v-card-text>
				<p class="text-center">
					<b> {{ultimodato}} {{unit}}</b>
				</p>
				<v-list color="transparent">

					<v-divider class="my-2"></v-divider>

					<v-list-item
					v-for="item in stats"
					:key="item.id"
					link
					>
					<v-list-item-content>
						<v-list-item-title>
							{{ item.name }}: {{item.value}} {{unit}}
						</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-card>
	</v-col>

	<v-col lg="9" md="9" sm="12" xs="12">
		<v-card min-height="500">
			<v-card-title>
				{{var_name}}
			</v-card-title>
			<v-card-subtitle>
				Filtrando por {{chartFilters.tipo}} y frecuencia {{chartFilters.frecuencia}} entre fechas {{desde_format}} - {{hasta_format}}
			</v-card-subtitle>
			<div style="height:250px;">
				<Chart2 :chartData="chartData" :options="chartOptions"></Chart2>

				<v-alert v-if="!chartData" class="ml-5 mr-5"
				border="left"
				color="red"
				outlined
				prominent
				type="error"
				text
				>No hay datos para mostrar</v-alert>
			</div>
		</v-card>
	</v-col>
</v-row>
</v-container>
</v-main>
</v-app>
</template>

<script>
import axios from "axios";
import Chart2 from "@/components/Chart2.vue";
import Calculos from '@/mixins/calculos.js';
export default {
	mixins: [Calculos],
	components: {
		Chart2
	},
	data() {
		return {
			//hoy: new Date(),
			//weekAgo: this.hoy.setDate(this.hoy.getDate() - 7),
			datos: {},
			estacion: '',
			menu: false,
			menu2: false,
			date: new Date().toISOString().substr(0, 10),
			fechaDesde: new Date().toISOString().substr(0, 10),
			fechaHasta: new Date().toISOString().substr(0, 10),
			dateFormatted: this.formatDate2(new Date().toISOString().substr(0, 10)),
			estaciones: '',
			isFormValid: true,
			variable: '',
			variables: [
			{text: 'Carga de Bateria',value:'batVolts'},
			{text: 'Temperatura del Aire',value:'Temp_Aire'},
			{text: 'Humedad Relativa',value:'H_relativa'},
			{text: 'Presión Atmosferica',value:'P_atm'},
			{text: 'Precipitación Total',value:'Precip_Total'},
			{text: 'Velocidad del Viento',value:'Vel_viento'},
			{text: 'Dirección del Viento',value:'Dir_viento'},
			{text: 'Irradiancia',value:'Irradiancia'},
			{text: 'Altura Nieve',value:'Alt_Nieve'},
			{text: 'Temperatura Suelo',value:'T_Suelo'},
			],
			frecuencia: '',
			frecuencias: [
			'Horaria',
			'Diaria',
			'Mensual'
			],
			tipo: '',
			tipos: [
			'Maximo',
			'Minimo',
			'Promedio',
			'Acumulado'
			],
			drawer: false,
			filtrarLoading: false,
			loading: false,
			nombre: '',
			tipoEstacion: '',
			ultimodato:'',
			ultimoDatoRecibidoFecha: '',
			ultDatoNoFormat: '',
			stats: [
			{id:'mediaDia', name: 'Media del día', value: ''},
			{id:'maximaDia', name: 'Máxima del día', value: ''},
			{id:'minimaDia', name: 'Mínima del día', value: ''},
			{id:'mediaSemana', name: 'Media de la semana', value: ''},
			{id:'maximaSemana', name: 'Máxima de la semana', value: ''},
			{id:'minimaSemana', name: 'Mínima de la semana', value: ''}
			],
			variableSeleccionada:'Temp_Aire',
			chartData: {},
			chartFilters: {
				estacion: parseInt(this.$route.params.id),
				desde: '',
				hasta: '',
				frecuencia: 'Diaria',
				tipo: 'Promedio'
			},
			chartOptions: {
				responsive: true,
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 0,
						right: 25,
						top: 0,
						bottom: 0
					}
				},
				scales: {
					yAxes: [{
						ticks: {
							stepSize: 0.5,
							beginAtZero: true,
						}
					}]
				},
			},
		}
	},
	computed: {
		alerta_datos(){
			let hoy = this.formatDate3(new Date())
			let ultimodatoFecha = this.ultDatoNoFormat.split('T')[0].replaceAll('-','/')
			let diff =  this.getdiffbetDates(ultimodatoFecha,hoy.replace('-','/'))
			return diff
		},
		desde_format(){
			var date = new Date(this.chartFilters.desde);
			return date.getDate() + 1 + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
		},
		hasta_format(){
			var date = new Date(this.chartFilters.hasta);
			return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
		},
		unit(){
			var aux = ''
			if(this.variableSeleccionada == 'Temp_Aire'){
				aux = '°C'
			}
			if(this.variableSeleccionada == 'H_relativa'){
				aux = '%'
			}
			if(this.variableSeleccionada == 'P_atm'){
				aux = 'mbar'
			}
			if(this.variableSeleccionada == 'Precip_Total'){
				aux = 'mm'
			}
			if(this.variableSeleccionada == 'Vel_viento'){
				aux = 'km/hs'
			}
			if(this.variableSeleccionada == 'Dir_viento'){
				aux = 'grados'
			}
			if(this.variableSeleccionada == 'Irradiancia'){
				aux = 'kW/m2'
			}
			if(this.variableSeleccionada == 'Alt_Nieve'){
				aux = 'cm'
			}
			if(this.variableSeleccionada == 'T_Suelo'){
				aux = '°C'
			}
			return aux
		},
		var_name(){
			var vsel = this.variableSeleccionada
			var found = this.variables.find(function(element) {
				if(element.value == vsel){
					return element.text
				}else{
					return 0
				}
			});
			return found.text
		}
	},
	methods:{
		renameVar(){
			var vsel = this.variableSeleccionada
			var found = this.variables.find(function(element) {
				if(element.value == vsel){
					return element.text
				}else{
					return 0
				}
			});
			return found.text
		},
		reset () {
			this.$refs.form.reset()
		},
		async getEstaciones(){
			var auxThis = this
			this.loading = true;
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/estaciones')
			.then(response => {
				this.loading = false
				response.data.forEach(function(est,index) {
					if(est.id == auxThis.chartFilters.estacion){
						auxThis.nombre = est.Nombre
						auxThis.tipoEstacion = est.Tipo
					}
					response.data[index].text = est.Nombre
					response.data[index].value = est.id
					response.data[index].tipo = est.Tipo
				})
				this.estaciones = response.data
			})
			.catch(error => {
				this.loading = false
				console.log(error)
			})
		},
		async getChartData2(){
			let auxThis = this
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/ianiglias?estacion='+this.chartFilters.estacion+'&Fecha_gte='+this.chartFilters.desde+'&Fecha_lte='+this.chartFilters.hasta+'&_sort=Fecha:desc')
			.then(response => {
				if(response.data.length > 0){
					let data = []
					let labels = []
					response.data.forEach(function(d){
						data.push(d.Temp_Prom)
						labels.push(d.Fecha)
					})
					this.chartData = {
						datasets: [{
							label: auxThis.renameVar(),
							data: data,
							borderWidth: 4,
							borderColor: 'rgba(51, 168, 199,1)',
							fill: false,
							pointRadius: 5,
							pointBorderWidth: 4
						}],
						labels: labels
					}
				}else{
					console.log('No hay datos')
				}
			})
			.catch(error => {
				console.log('Error al traer datos para el grafico | Estaciones tipo 1')
				console.log(error)
			})
		},
		async getChartData(){
			let auxThis = this
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/charts/'+this.chartFilters.estacion+'/'+this.variableSeleccionada+'/'+this.chartFilters.desde+'/'+this.chartFilters.hasta+'/'+this.chartFilters.frecuencia+'/'+this.chartFilters.tipo)
			.then(response => {
				var data = response.data.data.map(function (x) { 
					return parseFloat(x, 10); 
				});
				let labels = response.data.labels.map(function(x){
					return auxThis.formatDate2(x)
				})
				this.chartData = {
					datasets: [{
						label: auxThis.renameVar(),
						data: data,
						borderWidth: 4,
						borderColor: 'rgba(51, 168, 199,1)',
						fill: false,
						pointRadius: 5,
						pointBorderWidth: 4
					}],
					labels: labels
				}
			}).catch(error => {
				this.loading = false
				console.log(error)
			})  
		},
		async getDatos(){
			this.loading = true;
			let sourceURL = ''
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/estaciones?id='+this.$route.params.id)
			.then(response => {
				this.tipoEstacion = response.data[0].Tipo
			})
			.catch(error => {
				console.log(error)
			})
			if(this.tipoEstacion == 'Ianiglia'){
				sourceURL = 'datos?estacione'
			}else{
				sourceURL = 'ianiglias?estacion'
			}
			//console.log(this.tipoEstacion)
			//console.log(sourceURL)
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/'+sourceURL+'='+this.chartFilters.estacion+'&_sort=Fecha:desc&_limit=7')
			.then(response => {
				if(response.data.length > 0){
					this.ultDatoNoFormat = response.data[0].Fecha
					console.log(this.ultDatoNoFormat)
					this.ultimoDatoRecibidoFecha = this.formatDate(response.data[0].Fecha)
					if(this.tipoEstacion == 'DGI'){
						this.ultimodato = response.data[0]['Temp_Prom']
						this.datosDia(response.data,0,'Temp_Prom')
						this.datosDia(response.data,1,'Temp_Prom')
					}else{
						this.ultimodato = response.data[0][this.variableSeleccionada]
						this.datosDia(response.data,0,this.variableSeleccionada)
						this.datosDia(response.data,1,this.variableSeleccionada)
					}
				}else{
					console.log('No hay Datos')
				}

			}).catch(error => {
				this.loading = false
				console.log(error)
			})  
		},
		datosDia(data,tipo,variable){
			var auxArray = []
			var fecha2 = data[0].Fecha.split('T')
			data.forEach(function(item) {
				if(tipo){
					auxArray.push(item)
				}else{
					var fecha1 = item.Fecha.split('T')
					if(fecha1[0] == fecha2[0]){
						auxArray.push(item)
					}
				}
			})
			if(tipo){
				this.stats[3].value = this.maxminVariable(auxArray,variable,'Promedio').toFixed(2)
				this.stats[4].value = this.maxminVariable(auxArray,variable,'Maximo')
				this.stats[5].value = this.maxminVariable(auxArray,variable,'Minimo')
			}else{
				this.stats[0].value = this.maxminVariable(auxArray,variable,'Promedio').toFixed(2)
				this.stats[1].value = this.maxminVariable(auxArray,variable,'Maximo')
				this.stats[2].value = this.maxminVariable(auxArray,variable,'Minimo')
			}
		},
		filtrar(){
			this.loading = true
			this.getDatos();
			this.getEstaciones()
			//this.variableSeleccionada = this.$route.params.variable
			if(this.$route.params.id == 3 || this.$route.params.id == 6){
				this.getChartData2()
			}else{
				this.getChartData()
			}
			this.loading = false
		}
	},
	created(){
		this.getDatos();
		this.loading = true
		let hoy = this.formatDate3(new Date())
		let ultimodatoFecha = this.ultDatoNoFormat.split('T')[0].replaceAll('-','/')
		let diff =  this.getdiffbetDates(ultimodatoFecha,hoy.replace('-','/'))
		if(diff > 1){
			console.log(new Date(ultimodatoFecha))
		}
		var oneWeekAgo = new Date();
		oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
		var weekAgo = this.formatDate3(oneWeekAgo)
		//var hoy = this.formatDate3(new Date())

		this.chartFilters.estacion = parseInt(this.$route.params.id)
		this.chartFilters.desde = weekAgo
		this.chartFilters.hasta = hoy
		this.getEstaciones()

		this.chartFilters.desde = this.$route.params.desde
		this.chartFilters.hasta = this.$route.params.hasta
		this.chartFilters.frecuencia = this.$route.params.frecuencia
		this.chartFilters.tipo = this.$route.params.tipo
		this.variableSeleccionada = this.$route.params.variable
		if(this.$route.params.id == 3 || this.$route.params.id == 6){
			this.getChartData2()
		}else{
			this.getChartData()
		}


		this.loading = false
	}
}
</script>