<template>
	<div class="fill-height">
		<v-navigation-drawer
		width="310"
		style="z-index:9999;"
		temporary
		v-model="drawer"
		app
		>

		<v-list dense>
			<v-list-item>
				<v-list-item-action>
					<v-icon>mdi-filter-outline</v-icon>
				</v-list-item-action>
				<v-list-item-content>
					<v-list-item-title>
						<h2>Estaciones</h2>
					</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
			<v-form
			ref="form"
			v-model="isFormValid"
			lazy-validation
			>
			<v-list-item>
				<v-select v-if="estaciones"
				v-model="estacion"
				:items="estaciones"
				label="Estación"
				:rules="[v => !!v || 'La estación es obligatoria']"
				hint="Seleccione uno o más"
				persistent-hint
				></v-select>
			</v-list-item>
			<v-list-item>
				<v-select
				v-model="variable"
				:items="variables"
				label="Variable"
				:rules="[v => !!v || 'Al menos una varible es obligatoria']"
				chips
				hint="Seleccione uno o más"
				persistent-hint
				></v-select>
			</v-list-item>
			<v-list-item>
				<small class="v-messages theme--light">Frecuencia</small>
			</v-list-item>
			<v-list-item>
				<v-btn-toggle
				v-model="frecuencia"
				:rules="[v => !!v || 'La frecuencia es obligatoria']"
				tile
				background-color="primary"
				color="deep-purple accent-3"
				group>
				<v-btn small value="Horaria">
					Horaria
				</v-btn>
				<v-btn small value="Diaria">
					Diaria
				</v-btn>
				<v-btn small value="Mensual">
					Mensual
				</v-btn>
			</v-btn-toggle>
			<!--<v-select
			v-model="frecuencia"
			:items="frecuencias"
			label="Frecuencia"
			persistent-hint
			></v-select>-->
		</v-list-item>
		<v-list-item v-if="frecuencia != 'horaria'">
			<v-select
			v-model="tipo"
			:items="tipos"
			:rules="[v => !!v || 'El tipo es obligatorio']"
			label="Tipo de Dato"
			persistent-hint
			></v-select>
		</v-list-item>
		<v-list-item>
			<v-menu	ref="menu" v-model="menu" :close-on-content-click="true" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
				<template v-slot:activator="{ on, attrs }">
					<v-text-field
					v-model="fechaDesde"
					label="Fecha inicio"
					readonly
					required
					:rules="[v => !!v || 'Esta fecha es obligatoria']"
					v-bind="attrs"
					v-on="on"
					></v-text-field>
				</template>
				<v-date-picker v-model="fechaDesde" locale="es-es" no-title scrollable>
					<v-spacer></v-spacer>
					<v-btn text	color="primary"	@click="menu = false">Cancelar</v-btn>
					<v-btn text color="primary" @click="$refs.menu.save(fechaDesde)">Aceptar</v-btn>
				</v-date-picker>
			</v-menu>
		</v-list-item>
		<v-list-item>
			<v-menu ref="menu" v-model="menu2" :close-on-content-click="true" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
				<template v-slot:activator="{ on, attrs }">
					<v-text-field v-model="fechaHasta" label="Fecha inicio" :rules="[v => !!v || 'Esta fecha es obligatoria']" required readonly v-bind="attrs" v-on="on"></v-text-field>
				</template>
				<v-date-picker v-model="fechaHasta" locale="es-es" no-title scrollable>
					<v-spacer></v-spacer>
					<v-btn text color="primary" @click="menu = false">Cancelar</v-btn>
					<v-btn text color="primary" @click="$refs.menu.save(fechaHasta)">Aceptar</v-btn>
				</v-date-picker>
			</v-menu>
		</v-list-item>
		<v-list-item>
			<v-btn @click="goEstacion(estacion)" color="primary" large block depressed elevation="2" :loading="filtrarLoading">Filtrar</v-btn>
		</v-list-item>
		<v-list-item>
			<v-btn color="error" @click="reset" class="mt-5" large block depressed elevation="2">Reiniciar filtros</v-btn>
		</v-list-item>
	</v-form>
	<br>
	<v-divider
	></v-divider>
	<br>
	<v-list-item>
		<v-list-item-action>
			<v-icon>mdi-tune</v-icon>
		</v-list-item-action>
		<v-list-item-content>
			<v-list-item-title>
				<h2>Variables en Mapa</h2>
			</v-list-item-title>
		</v-list-item-content>
	</v-list-item>
	<v-form
	ref="formajustes"
	v-model="isFormValidSettings"
	lazy-validation
	>
	<v-list-item>
		<v-select
		v-model="settings.variable"
		:items="variables"
		label="Variable por defecto"
		persistent-hint
		></v-select>
	</v-list-item>
	<v-list-item>
		<v-btn color="primary" @click="guardarSettings" large block depressed elevation="2" :loading="settingsLoading">Mostrar</v-btn>
	</v-list-item>
</v-form>
</v-list>
</v-navigation-drawer>

<v-app-bar
app
color="indigo"
dark
>
<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
<v-toolbar-title class="d-none d-sm-flex d-lg-flex">Sistema de monitoreo meteorológico de alta montaña</v-toolbar-title>
<v-toolbar-title class="text-caption d-flex d-sm-none">Sist. monitoreo meteorológico de alta montaña</v-toolbar-title>
<v-spacer></v-spacer>
</v-app-bar>
<Map v-if="!explo && estaciones" v-bind:variables="variable" :estac="estaciones" :ayuda="ay"></Map>
<Explorador v-if="explo" v-bind:estacion="estacione"></Explorador>
<v-footer
color="indigo"
app
>
<span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
</v-footer>
</div>
</template>

<script>
// @ is an alias to /src
import Map from '@/components/Map.vue';
import Explorador from '@/components/Explorador.vue';
import  Calculos from '@/mixins/calculos.js';
import axios from 'axios';

export default {
	props: {
		source: String,
	},
	mixins: [Calculos],
	data() {
		return {
			settings: {
				variable: 'Temp_Aire',
				tipo: 'Minimo',
				frecuencia: 'diaria',
				desde: '2020-09-23',
				hasta: '2020-09-30'
			},
			settingsLoading: false,
			typeAyudaButton: 'primary',
			ay: false,
			isFormValid: true,
			isFormValidSettings: true,
			chartData: '',
			text: '',
			show: false,
			estaciones: [],
			estacion: '',
			drawer: null,
			explo: false,
			menu: false,
			menu2: false,
			date: new Date().toISOString().substr(0, 10),
			fechaDesde: new Date().toISOString().substr(0, 10),
			fechaHasta: new Date().toISOString().substr(0, 10),
			dateFormatted: this.formatDate2(new Date().toISOString().substr(0, 10)),
			estacione: '',
			variable: '',
			variables: [
			{text: 'Carga de Bateria',value:'batVolts'},
			{text: 'Temperatura del Aire',value:'Temp_Aire'},
			{text: 'Humedad Relativa',value:'H_relativa'},
			{text: 'Presión Atmosferica',value:'P_atm'},
			{text: 'Precipitación Total',value:'Precip_Total'},
			{text: 'Velocidad del Viento',value:'Vel_Viento'},
			{text: 'Dirección del Viento',value:'Dir_Viento'},
			{text: 'Irradiancia',value:'Irradiancia'},
			{text: 'Altura Nieve',value:'Alt_Nieve'},
			{text: 'Temperatura Suelo',value:'T_Suelo'},
			],
			frecuencia: '',
			frecuencias: [
			'Horaria',
			'Diaria',
			'Mensual'
			],
			tipo: '',
			tipos: [
			'Maximo',
			'Minimo',
			'Promedio',
			'Acumulado'
			],
			loading: false,
			filtrarLoading: false
		}},
		name: 'Home',
		components: {
			Map,
			Explorador,
		},
		methods: {
			goEstacion(e){
				this.$router.push({ path: `/estacion/${e}/${this.settings.variable}/${this.fechaDesde}/${this.fechaHasta}/${this.frecuencia}/${this.tipo}` })
			},
			guardarSettings(){
				this.settingsLoading = true
				window.event.$emit('cambiarVariable',this.settings.variable)
				this.getEstaciones()
				this.settingsLoading = false
			},
			showAyuda(){
				if(this.ay){
					this.ay = false
					this.typeAyudaButton = 'primary'
				}else{
					this.ay = true
					this.typeAyudaButton = 'accent'
				}
			},
			async getEstaciones(){
				var auxThis = this
				this.loading = true;
				await axios.get(process.env.VUE_APP_API_BASE_URL+'/estaciones?Tipo=Ianiglia')
				.then(response => {
					this.loading = false
					response.data.forEach(async function(item, index) {
						response.data[index].Circle = ''
						await axios.get(process.env.VUE_APP_API_BASE_URL+'/datos?estacione='+item.id+'&_sort=Fecha:desc&_limit=1')
						.then(response2 => {
							if(response2.data.length > 0){
								response.data[index].lastdate = auxThis.formatDate(response2.data[0].Fecha)
								response.data[index].Circle = auxThis.calculateRadius(response2.data[0][auxThis.settings.variable],auxThis.settings.variable)
							}else{
								//Estaciones sin datos
								//response.data[index].Circle = auxThis.calculateRadius(-100,auxThis.settings.variable)
							}
						})
						.catch(error => {
							console.log(error)
						})
						response.data[index].text = item.Nombre
						response.data[index].value = item.id
					})
					this.estaciones = response.data
				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
				await axios.get(process.env.VUE_APP_API_BASE_URL+'/estaciones?Tipo=DGI')
				.then(response => {
					if(response.data.length > 0){
						response.data.forEach(function(est){
							let test = est.ianiglias.sort((a, b) => new Date(b.Fecha) - new Date(a.Fecha))
							est.lastdate = auxThis.formatDate(test[0].Fecha)
							est.Circle = auxThis.calculateRadius(test[0]['Temp_Prom'],'Temp_Aire')
							est.text = est.Nombre
							est.value = est.id
							auxThis.estaciones.push(est)
						})
					}
				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
				
				window.event.$emit('reloadEst',this.estaciones)
			},
			mostrarExplorador() {
				window.event.$on('mostrarExplorador', function (est) {
					this.explo = true
					this.estacione = est
				}.bind(this));
			},
			agrupar(data,tipo){
				if(tipo == 'diaria'){
					const groups = data.reduce((groups, game) => {
						const date = game.Fecha.split('T')[0];
						if (!groups[date]) {
							groups[date] = [];
						}
						groups[date].push(game);
						return groups;
					}, {});
					const groupArrays = Object.keys(groups).map((date) => {
						return {
							date,
							games: groups[date]
						};
					});	
					return groupArrays
				}else{
					var groups = data.reduce(function (groups, o) {
						var m = o.Fecha.split(('-'))[0]+"-"+o.Fecha.split(('-'))[1]
						if (!groups[m]) {
							groups[m] = [];
						}
						groups[m].push(o);

						return groups;
					}, {});
					const result = Object.keys(groups).sort().map((m) => {
						return {
							date: m,
							games: groups[m]
						};
					});	
					return result
				}
			},
			agruparPorDia(data){
			// this gives an object with dates as keys
			const groups = data.reduce((groups, game) => {
				const date = game.Fecha.split('T')[0];
				if (!groups[date]) {
					groups[date] = [];
				}
				groups[date].push(game);
				return groups;
			}, {});
			// Edit: to add it in the array format instead
			const groupArrays = Object.keys(groups).map((date) => {
				return {
					date,
					games: groups[date]
				};
			});	
			return groupArrays
		},
		agruparPorMes(reg){
			var groups = reg.reduce(function (groups, o) {
				var m = o.Fecha.split(('-'))[0]+"-"+o.Fecha.split(('-'))[1]
				if (!groups[m]) {
					groups[m] = [];
				}
				groups[m].push(o);
				
				return groups;
			}, {});
			const result = Object.keys(groups).sort().map((m) => {
				return {
					date: m,
					games: groups[m]
				};
			});	
			return result
		},
		agruparPorEstacion(data){
			// this gives an object with dates as keys
			const groups = data.reduce((groups, game) => {
				const estacion = game.estacione.id;
				if (!groups[estacion]) {
					groups[estacion] = [];
				}
				groups[estacion].push(game);
				return groups;
			}, {});
			// Edit: to add it in the array format instead
			const groupArrays = Object.keys(groups).map((estacion) => {
				return {
					estacion,
					games: groups[estacion]
				};
			});	
			return groupArrays
		},
		estNameById(id){
			var result = false
			this.estaciones.forEach(function(est){
				if(est.id == id){
					result = est.Nombre
				}
			})
			return result

		},
		hideBts(){
			window.event.$on('hideBts', function (a) {
				this.show = a
			}.bind(this));
		},
		cleanDate(dateTtimeZ){
			return dateTtimeZ.replace('T',' ').replace('Z','')
		},

		formatDate2 (date) {
			if (!date) return null

				const [year, month, day] = date.split('-')
			return `${day}/${month}/${year}`
		},
		parseDate (date) {
			if (!date) return null

				const [month, day, year] = date.split('/')
			return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
		},
		maxminVariable(data,variable,tipo){
			var minmax = 0
			var min = Number.POSITIVE_INFINITY;
			var max = Number.NEGATIVE_INFINITY;
			var acum = 0
			data.forEach(function(dato) {
				var cifra = dato[variable]
				if(tipo == 'Maximo'){
					if (cifra > max) max = cifra;
				}else if(tipo == 'Minimo'){
					if (cifra < min) min = cifra;
				}else if(tipo == 'Promedio'){
					acum = acum + cifra
				}else{
			//Acumulado
			acum = acum + cifra
		}
	})
			if(tipo == 'Maximo'){
				minmax = max
			}
			if(tipo == 'Minimo'){
				minmax = min
			}
			if(tipo == 'Promedio'){
				minmax = acum/data.length
			}
			if(tipo == 'Acumulado'){
				minmax = acum
			}
			return minmax
		},
		reset () {
			this.$refs.form.reset()
		},
	},
	created () {
		this.getEstaciones()
		this.hideBts()
	},
	updated(){

	},
	computed: {
		computedDateFormatted () {
			return this.formatDate2(this.fechaDesde)
		},
	},
	watch: {
		fechaDesde (val) {
			this.dateFormatted = this.formatDate2(val)
		},
	},

}
</script>
