<template>
	<div class="text-center" style="z-index:999;">
		<v-bottom-sheet
		v-model="show"
		hide-overlay
		>
		<template v-slot:activator="{ on, attrs }">
			<v-btn
			color="green"
			dark
			v-bind="attrs"
			v-on="on"
			>
			Open Persistent
		</v-btn>
	</template>
	<v-sheet class="text-center" height="300px">
	<v-btn class="mt-6" text color="primary" elevation="2" @click="emitToParent">
	Cerrar
</v-btn>
<div class="py-3">
	
</div>
</v-sheet>
</v-bottom-sheet>
</div>
</template>
<script>
export default {
	props:['show'],
	data () {
		return {
			sheet: this.show,
		}
	},
	methods:{
		emitToParent(){
			window.event.$emit('hideBts', false)
		}
	},
	created() {
	}
}
</script>