<template>

  <v-card v-bind:style="styleObject">
    
  <chartist style="height:200px;"
  :data="datos"
  :options="opciones"
  color="#E91E63"
  hover-reveal
  type="Line"
  >
</chartist>
<v-card-text class="pt-0">
  <div class="subheading font-weight-light grey--text">
    Mostrando: 
  </div>
  <v-divider class="my-2"></v-divider>
  <v-icon
  class="mr-2"
  small
  >
  mdi-clock
</v-icon>
<span v-if="false" class="caption grey--text font-weight-light">Ultima actualización hace 10 minutos</span>
</v-card-text>
</v-card>

</template>

<script>
export default {
  components: {
  },
  props: {
    estilo: {
      type: Object
    },
    estacion: {
      type: Number
    },
    datos: {
      default: () => ({}),
    },
    etiquetas: {
      default: () => ({}),
    },
    opciones: {
      default: () => ({})
    }
  },
  data() {
    return {
      styleObject: this.estilo,
      estaciones: {
        1 : 'Morenas Coloradas',
        2 : 'Piuquenes',
        3 : 'Toscas',
        4 : 'Las Cuevas',
        5 : 'Cristo Redentor'
      },
      data: this.datos,
      options: this.opciones
    }
  }
}
</script>