<script>
import { Line } from 'vue-chartjs'

export default {
  extends: Line,
   props: {
    chartData: {
      type: Object,
      default: null
    },
    options: {
      type: Object,
      default: null
    }
  },
  mounted () {
    this.renderChart(this.chartData, this.options)
  },
  watch: {
  chartData () {
    this.renderChart(this.chartData, this.options)
    //this.$data._chart.update()
  },
}
}
</script>

<style>
</style>