<template>
  <v-card v-if="nombre"
  v-bind:style="styleObject"
  class="mx-auto"
  max-width="344"
  >
  <v-card-text>
    <div>Estación seleccionada</div>
    <p class="display-1 text--primary">
      {{nombre}}
    </p>
    <p v-if="ultdato">Último dato recibido: {{ultdato}}</p>
    <div class="text--primary" v-if="temp">
      Temperatura<br>
      <b>{{temp}} C°</b>
    </div>
  </v-card-text>
  <v-card-actions>
    <v-btn
    text
    color="deep-purple accent-4"
    @click="cerrar">
    Cerrar
  </v-btn>
  <router-link :to="`/estacion/${estacione}/${'Temp_Aire'}/${desde}/${hasta}/${'Diaria'}/${'Promedio'}`">
    <v-btn
    text
    color="deep-purple accent-4"
    @click="cerrar">
    Ver más
  </v-btn>
</router-link>
</v-card-actions>
</v-card>
</template>
<script>
import Calculos from '@/mixins/calculos.js';
export default {
  name: 'Card',
  mixins: [Calculos],
  props: ['estilo','nombre','estacione','ultdato','temp'],
  data() {
    return {
      styleObject: this.estilo,
      desde: '',
      hasta: ''
    }
  },
  methods: {
    cerrar:function(){
      this.nombre = ''
    },
    emitToParent () {
      window.event.$emit('mostrarExplorador', this.estacione)
    },

  },
  created() {
    var oneWeekAgo = new Date();
    oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
    var weekAgo = this.formatDate3(oneWeekAgo)
    var hoy = this.formatDate3(new Date())
    this.desde = weekAgo
    this.hasta = hoy
  }
}
</script>
