<template>
	<v-container>
		<v-row>
			<v-col>
				<v-breadcrumbs style="padding-left:0px !important;"
				:items="breads"
				divider="/"
				></v-breadcrumbs>
	</v-col>
</v-row>
<v-row justify="center">
	<v-col>
		<v-select
		v-model="tipo"
		:items="items"
		label="Tipo de dato"
		multiple
		locale="es-ar"
		chips
		hint="Seleccione uno o más"
		persistent-hint
		></v-select>
	</v-col>
	<v-col
	cols="12"
	sm="6"
	md="4"
	>
	<v-menu
	ref="menu"
	v-model="menu"
	:close-on-content-click="true"
	:return-value.sync="date"
	transition="scale-transition"
	offset-y
	min-width="290px"
	>
	<template v-slot:activator="{ on, attrs }">
		<v-text-field
		v-model="fechaDesde"
		label="Fecha inicio"
		readonly
		v-bind="attrs"
		v-on="on"
		></v-text-field>
	</template>
	<v-date-picker
	v-model="fechaDesde"
	no-title
	scrollable
	>
	<v-spacer></v-spacer>
	<v-btn
	text
	color="primary"
	@click="menu = false"
	>
	Cancel
</v-btn>
<v-btn
text
color="primary"
@click="$refs.menu.save(fechaDesde)"
>
OK
</v-btn>
</v-date-picker>
</v-menu>
</v-col>

<v-col
cols="12"
sm="6"
md="4"
>
<v-menu
ref="menu"
v-model="menu2"
:close-on-content-click="true"
:return-value.sync="date"
transition="scale-transition"
offset-y
min-width="290px"
>
<template v-slot:activator="{ on, attrs }">
	<v-text-field
	v-model="fechaHasta"
	label="Fecha inicio"
	readonly
	v-bind="attrs"
	v-on="on"
	></v-text-field>
</template>
<v-date-picker
v-model="fechaHasta"
no-title
scrollable
>
<v-spacer></v-spacer>
<v-btn
text
color="primary"
@click="menu = false"
>
Cancel
</v-btn>
<v-btn
text
color="primary"
@click="$refs.menu.save(fechaHasta)"
>
OK
</v-btn>
</v-date-picker>
</v-menu>
</v-col>
<v-col>
	<v-btn @click="filtrar(estacion,fechaDesde,fechaHasta,tipo)" color="primary" large block depressed elevation="2">Filtrar</v-btn>
</v-col>
</v-row>
<v-row>
	<v-col>
		<Chart :datos="dailyTempChart.data" :estacion="estacion" :opciones="dailyTempChart.options">
		</Chart>
	</v-col>
</v-row>
<v-row>
	<v-col>
	</v-col>
</v-row>
</v-container>
</template>
<script>

import Chart from '@/components/Chart.vue';
import axios from "axios";

export default {
	name: 'Explorador',
	components: {
		Chart
	},
	props: [
	'estacion'
	],
	data () {
		return {
			estaciones: {
				1 : 'Morenas Coloradas',
				2 : 'Piuquenes',
				3 : 'Toscas',
				4 : 'Las Cuevas',
				5 : 'Cristo Redentor',
				6 : 'Horcones',
				7 : 'Plaza de Mulas',
				8 : 'San Alberto'
			},
			nombre: '',
			breads: [
			{
				text: 'Mapa',
				disabled: false,
				href: '/',
			},
			{
				text: '',
				disabled: true,
				href: '',
			},
			],
			itemsTest: {
				'batVolts':     'Carga de bateria',
				'Temp_Aire':    'Temperatura del Aire',
				'H_relative':   'Humedad Relativa',
				'P_atm':        'Presion Atmosferica',
				'Precip_Total': 'Precipitación Total',
				'Vel_viento':   'Velocidad del Viento',
				'Dir_viento':   'Dirección del Viento',
				'Irradiancia':  'Irradiancia',
				'Alt_Nieve':    'Altura Nieve',
				'T_Suelo':      'Temperatura Suelo'
			},
			tipo: [],
			items: [
			'batVolts',
			'Temp_Aire',
			'H_relative',
			'P_atm',
			'Precip_Total',
			'Vel_viento',
			'Dir_viento',
			'Irradiancia',
			'Alt_Nieve',
			'T_Suelo'      
			],
			menu: false,
			menu2: false,
			date: new Date().toISOString().substr(0, 10),
			fechaDesde: new Date().toISOString().substr(0, 10),
			fechaHasta: new Date().toISOString().substr(0, 10),
			loading: false,
			dailyTempChart: {
				data: {
					labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
					series: [
					[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],

					],
				},
				options: {
					maintainAspectRatio: false,
					lineSmooth: this.$chartist.Interpolation.cardinal({
						tension: 0,
					}),
					low: -10,
					high: 76, 
					referenceValue: 0,
					fullWidth: true,
					chartPadding: {
						top: 20,
						right: 20,
						bottom: 20,
						left: 0,
					},
				},
				responsiveOptions: [
				['screen and (min-width: 641px) and (max-width: 1024px)', {
					showPoint: false,
					axisX: {
						labelInterpolationFnc: function(value) {
							return value.slice(0, 3);
						}
					}
				}],
				['screen and (max-width: 640px)', {
					showLine: false,
					axisX: {
						labelInterpolationFnc: function(value) {
							return value[0];
						}
					}
				}]
				]
			},
		}
	},
	methods: {
		getDateByDays(days) {
			var date = new Date();
			var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
			var day =last.getDate();
			var month=last.getMonth()+1;
			var year=last.getFullYear();
			

			if(day<10){
				day='0'+day
			} 
			if(month<10){
				month='0'+month
			}
			
			return year+"-"+month+"-"+day
		},
		async filtrar(estacionId,desde,hasta,tipo){
			var series = []
			await axios.get(process.env.VUE_APP_API_BASE_URL+'/datos?estacione='+estacionId+'&Fecha_gt='+desde+'&Fecha_lt='+hasta)
			.then(response => {
				var BatVoltSerie = []
				var TempAireSerie = []
				var HRelativaSerie = []
				var PAtmSerie = []
				var PrecipTotalSerie = []
				var VelVientoSerie = []
				var DirVientoSerie = []
				var IrradianciaSerie = []
				var AltNieveSerie = []
				var TSueloSerie = []
				var AltNieveDSerie = []
				var LabelsDate = []
				response.data.forEach(function(dato) {
					BatVoltSerie.push(dato.batVolts)
					TempAireSerie.push(dato.Temp_Aire)
					HRelativaSerie.push(dato.H_relativa)
					PAtmSerie.push(dato.P_atm)
					PrecipTotalSerie.push(dato.Precip_Total)
					VelVientoSerie.push(dato.Vel_Viento)
					DirVientoSerie.push(dato.Dir_Viento)
					IrradianciaSerie.push(dato.Irradiancia)
					AltNieveSerie.push(dato.Alt_Nieve)
					TSueloSerie.push(dato.T_Suelo)
					AltNieveDSerie.push(dato.Alt_NieveD)
					LabelsDate.push(dato.Fecha)
				})
				tipo.forEach(function(t) {
					switch (t) {
						case 'batVolts':
						series.push(BatVoltSerie)
						break;
						case 'Temp_Aire':
						series.push(TempAireSerie)
						break;
						case 'H_relative':
						series.push(HRelativaSerie)
						break;
						case 'P_atm':
						series.push(PAtmSerie)
						break;
						case 'Precip_Total':
						series.push(PrecipTotalSerie)
						break;
						case 'Vel_viento':
						series.push(VelVientoSerie)
						break;
						case 'Dir_viento':
						series.push(DirVientoSerie)
						break;
						case 'Irradiancia':
						series.push(IrradianciaSerie)
						break;
						case 'Alt_Nieve':
						series.push(AltNieveSerie)
						break;
						case 'T_Suelo':
						series.push(TSueloSerie)
						break;
						default:
						console.log('Nada')
					}

				});
				
				this.dailyTempChart.data.series = series
				this.dailyTempChart.data.labels = LabelsDate
			})
			.catch(error => {
				this.loading = false
				console.log(error)
			})	
		},

		

	},
	created() {
		this.breads[1].text = this.estaciones[this.estacion]
	}
}
</script>
<style>
</style>
