<template>
  <div class="fill-height" style="width: 100%; height:100%; padding:0px; margin: 0px;">
    <v-btn @click="mostrarStats" v-if="!mostrarStatsXS"
    :style="{'position': 'absolute', 'top': '1%', 'right': '5%','z-index':'8999'}"
    color=""
    elevation="7"
    fab
    medium
    ><v-icon>mdi-map-legend</v-icon></v-btn>
    <div v-if="loading" style="position: absolute;width: 100px;height: 100px;top: 2%;left: 95%;z-index: 990;">
      <i class="fa fa-circle-o-notch fa-spin fa-2x" style="color:gray;"></i>
    </div>
    <Card v-if="clicked.nombre" v-bind:nombre="clicked.nombre" v-bind:estacione="clicked.id" v-bind:ultdato="clicked.ult_dato" v-bind:temp="clicked.temp" :estilo="DatosStyle">
    </Card>
    
    <v-card
    v-if="showChartDataCard"
    :loading="chartLoading"
    :style="chartStyle">
    <v-card-title v-if="chartData.estacion">Estación {{getEstacioName(chartData.estacion)}}</v-card-title>
    <v-card-title v-if="!chartData.estacion">Todas las Estaciones</v-card-title>
    <v-card-subtitle><b>{{variableName}}</b> - Filtrando por <b>{{chartData.tipo}}</b> y frecuencia <b>{{chartData.frecuencia}}</b></v-card-subtitle>
    <div style="height:250px;">
      <Chart2 v-if="chartData" :chartData="chartData" :options="chartOptions"></Chart2>
    </div>
    <v-card-actions>
      <v-btn
      color="deep-purple accent-4"
      text
      class=""
      @click="cerrarChart"
      >
      Cerrar
    </v-btn>
  </v-card-actions>
</v-card>
<div>
  <v-card :style="StatsStyleXS" class="d-sm-none" v-if="mostrarStatsXS">
    <v-card-title class="text-subtitle-1 pt-1">{{variableName}}
    </v-card-title>
    <v-card-subtitle class="text-caption pb-0">
      {{lastdate}}
    </v-card-subtitle>
    <v-container>
     <v-simple-table dense>
      <template>
        <thead>
          <tr>
            <th class="text-left">
              Mapa
            </th>
            <th class="text-left">
              Temp
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
          v-for="item in statsRange"
          :key="item.color"
          >
          <td><div class="pa-2 rounded-circle d-inline-block " :style="{'background-color': item.color}"></div></td>
          <td class="text-caption" v-if="variable == 'Temp_Aire' && item.Temp_Aire.length > 1">{{ item.Temp_Aire[0] }} C° hasta {{item.Temp_Aire[1]}} C°</td>
          <td class="text-caption" v-if="variable == 'Temp_Aire' && item.Temp_Aire.length <= 1"> Menor a {{ item.Temp_Aire[0] }} C°</td>

          <td class="text-caption" v-if="variable == 'H_relativa' && item.H_relativa.length > 1">{{ item.H_relativa[0] }} % - {{item.H_relativa[1]}} %</td>
          <td class="text-caption" v-if="variable == 'H_relativa' && item.H_relativa.length <= 1">{{ item.H_relativa[0] }} %</td>

          <td class="text-caption" v-if="variable == 'P_atm' && item.P_atm.length > 1">{{ item.P_atm[0] }} mbar - {{item.P_atm[1]}} mbar</td>
          <td class="text-caption" v-if="variable == 'P_atm' && item.P_atm.length <= 1">Menos de {{ item.P_atm[0] }} mbar</td>

          <td class="text-caption" v-if="variable == 'Precip_Total' && item.Precip_Total.length > 1">{{ item.Precip_Total[0] }} mm - {{item.Precip_Total[1]}} mm</td>
          <td class="text-caption" v-if="variable == 'Precip_Total' && item.Precip_Total.length <= 1">{{ item.Precip_Total[0] }} mm</td>

          <td class="text-caption" v-if="variable == 'Vel_Viento' && item.Vel_Viento.length > 1">{{ item.Vel_Viento[0] }} km/hs - {{item.Vel_Viento[1]}} km/hs</td>
          <td class="text-caption" v-if="variable == 'Vel_Viento' && item.Vel_Viento.length <= 1">{{ item.Vel_Viento[0] }} km/hs</td>

          <td class="text-caption" v-if="variable == 'Dir_Viento' && item.Dir_Viento.length > 1">{{ item.Dir_Viento[0] }} grados - {{item.Dir_Viento[1]}} grados</td>
          <td class="text-caption" v-if="variable == 'Dir_Viento' && item.Dir_Viento.length <= 1">{{ item.Dir_Viento[0] }} grados</td>

          <td class="text-caption" v-if="variable == 'Irradiancia' && item.Irradiancia.length > 1">{{ item.Irradiancia[0] }} kW/m2 - {{item.Irradiancia[1]}} kW/m2</td>
          <td class="text-caption" v-if="variable == 'Irradiancia' && item.Irradiancia.length <= 1">{{ item.Irradiancia[0] }} kW/m2</td>

          <td class="text-caption" v-if="variable == 'Alt_Nieve' && item.Alt_Nieve.length > 1">{{ item.Alt_Nieve[0] }} cm - {{item.Alt_Nieve[1]}} cm</td>
          <td class="text-caption" v-if="variable == 'Alt_Nieve' && item.Alt_Nieve.length <= 1">{{ item.Alt_Nieve[0] }} cm</td>

          <td class="text-caption" v-if="variable == 'T_Suelo' && item.T_Suelo.length > 1">{{ item.T_Suelo[0] }} C° - {{item.T_Suelo[1]}} C°</td>
          <td class="text-caption" v-if="variable == 'T_Suelo' && item.T_Suelo.length <= 1">{{ item.T_Suelo[0] }} C°</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</v-container>
<v-card-actions>
  <v-btn
  color="deep-purple lighten-2"
  text
  @click="cerrarStats"
  >
  Ocultar
</v-btn>
</v-card-actions>
</v-card>
<div class="d-none d-sm-flex">
<v-card :style="StatsStyle" class="">
  <v-card-title>{{variableName}}
  </v-card-title>
  <v-card-subtitle>
    {{lastdate}}
  </v-card-subtitle>
  <v-container>
   <v-simple-table dense>
    <template>
      <thead>
        <tr>
          <th class="text-left">
            Mapa
          </th>
          <th class="text-left">
            Temp
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
        v-for="item in statsRange"
        :key="item.color"
        >
        <td><div class="pa-2 rounded-circle d-inline-block" :style="{'background-color': item.color}"></div></td>
        <td v-if="variable == 'Temp_Aire' && item.Temp_Aire.length > 1">{{ item.Temp_Aire[0] }} C° hasta {{item.Temp_Aire[1]}} C°</td>
        <td v-if="variable == 'Temp_Aire' && item.Temp_Aire.length <= 1"> Menor a {{ item.Temp_Aire[0] }} C°</td>

        <td v-if="variable == 'H_relativa' && item.H_relativa.length > 1">{{ item.H_relativa[0] }} % - {{item.H_relativa[1]}} %</td>
        <td v-if="variable == 'H_relativa' && item.H_relativa.length <= 1">{{ item.H_relativa[0] }} %</td>

        <td v-if="variable == 'P_atm' && item.P_atm.length > 1">{{ item.P_atm[0] }} mbar - {{item.P_atm[1]}} mbar</td>
        <td v-if="variable == 'P_atm' && item.P_atm.length <= 1">Menos de {{ item.P_atm[0] }} mbar</td>

        <td v-if="variable == 'Precip_Total' && item.Precip_Total.length > 1">{{ item.Precip_Total[0] }} mm - {{item.Precip_Total[1]}} mm</td>
        <td v-if="variable == 'Precip_Total' && item.Precip_Total.length <= 1">{{ item.Precip_Total[0] }} mm</td>

        <td v-if="variable == 'Vel_Viento' && item.Vel_Viento.length > 1">{{ item.Vel_Viento[0] }} km/hs - {{item.Vel_Viento[1]}} km/hs</td>
        <td v-if="variable == 'Vel_Viento' && item.Vel_Viento.length <= 1">{{ item.Vel_Viento[0] }} km/hs</td>

        <td v-if="variable == 'Dir_Viento' && item.Dir_Viento.length > 1">{{ item.Dir_Viento[0] }} grados - {{item.Dir_Viento[1]}} grados</td>
        <td v-if="variable == 'Dir_Viento' && item.Dir_Viento.length <= 1">{{ item.Dir_Viento[0] }} grados</td>

        <td v-if="variable == 'Irradiancia' && item.Irradiancia.length > 1">{{ item.Irradiancia[0] }} kW/m2 - {{item.Irradiancia[1]}} kW/m2</td>
        <td v-if="variable == 'Irradiancia' && item.Irradiancia.length <= 1">{{ item.Irradiancia[0] }} kW/m2</td>

        <td v-if="variable == 'Alt_Nieve' && item.Alt_Nieve.length > 1">{{ item.Alt_Nieve[0] }} cm - {{item.Alt_Nieve[1]}} cm</td>
        <td v-if="variable == 'Alt_Nieve' && item.Alt_Nieve.length <= 1">{{ item.Alt_Nieve[0] }} cm</td>

        <td v-if="variable == 'T_Suelo' && item.T_Suelo.length > 1">{{ item.T_Suelo[0] }} C° - {{item.T_Suelo[1]}} C°</td>
        <td v-if="variable == 'T_Suelo' && item.T_Suelo.length <= 1">{{ item.T_Suelo[0] }} C°</td>
      </tr>
    </tbody>
  </template>
</v-simple-table>
</v-container>
</v-card>
</div>
</div>
<v-card v-if="ayuda" shaped v-bind:style="AyudaStyle">
  <v-card-title>
    Ayuda
  </v-card-title>
  <v-card-subtitle>
    Filtros
  </v-card-subtitle>
  <v-card-text>
    Seleccione una estación para conocer los ultimos datos. Para filtrar datos en el tiempo segun estaciones hacer click en el menú de la esquina superior izquierda (Tres barras horizontales).
  </v-card-text>
</v-card>
<!--<Medidas v-if="clicked.nombre" v-bind:estacione="clicked.id" :estilo="{
position: 'absolute',
bottom: '40%',
right: '3%',
width:'100%',
height: '400px;',
'z-index': 999,
}">
</Medidas>-->
<l-map
v-if="showMap"
:zoom="zoom"
:center="center"
:options="mapOptions"
style="height: 100%"
@update:center="centerUpdate"
@update:zoom="zoomUpdate"
>
<l-tile-layer
:url="url"
:attribution="attribution"
/>
<l-circle @click="estClick(est.Nombre,est.Codigo,est.id,est.Tipo)" v-bind:key="est.id" v-for="est in estaciones"
:lat-lng="est.latLng"
:radius="est.Circle.radius"
:color="est.Circle.color"
:fillColor="est.Circle.fillColor"
:fillOpacity="est.Circle.fillOpacity"
/>
<div v-if="!estaciones">
  <l-marker v-bind:key="est.id" v-for="est in estaciones"  :lat-lng="est.latLng" @click="estClick(est.Nombre,est.Codigo,est.id)">
    <l-popup>
      <div>
        {{est.Nombre}}
      </div>
    </l-popup>
  </l-marker>
</div>
    <!--<l-marker :lat-lng="withPopup">
      <l-popup>
        <div @click="innerClick">
          I am a popup
          <p v-show="showParagraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            sed pretium nisl, ut sagittis sapien. Sed vel sollicitudin nisi.
            Donec finibus semper metus id malesuada.
          </p>
        </div>
      </l-popup>
    </l-marker>-->
      <!--<l-marker :lat-lng="withTooltip">
        <l-tooltip :options="{ permanent: true, interactive: true }">
          <div @click="innerClick">
            I am a tooltip
            <p v-show="showParagraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              sed pretium nisl, ut sagittis sapien. Sed vel sollicitudin nisi.
              Donec finibus semper metus id malesuada.
            </p>
          </div>
        </l-tooltip>
      </l-marker>-->
    </l-map>
    
    
  </div>
</template>

<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup, LCircle /*LTooltip*/ } from "vue2-leaflet";
import  Calculos from '@/mixins/calculos.js';
import axios from "axios";
//Components
import Card from './Datos.vue';
import Chart2 from './Chart2.vue';
export default {
  name: "Map",
  mixins: [Calculos],
  props: ['estac','ayuda'],
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LCircle,
    Card,
    Chart2,
    //Medidas,
    
    //LTooltip
  },
  data() {
    return {
      lastdate: '',
      variablesList: [
      {text: 'Carga de Bateria',value:'batVolts'},
      {text: 'Temperatura del Aire',value:'Temp_Aire'},
      {text: 'Humedad Relativa',value:'H_relativa'},
      {text: 'Presión Atmosferica',value:'P_atm'},
      {text: 'Precipitación Total',value:'Precip_Total'},
      {text: 'Velocidad del Viento',value:'Vel_Viento'},
      {text: 'Dirección del Viento',value:'Dir_Viento'},
      {text: 'Irradiancia',value:'Irradiancia'},
      {text: 'Altura Nieve',value:'Alt_Nieve'},
      {text: 'Temperatura Suelo',value:'T_Suelo'},
      ],
      mostrarStatsXS: true,
      variable: 'Temp_Aire',
      showChartDataCard: false,
      chartLoading: true,
      StatsStyle: {
        position: 'absolute',
        bottom: '5%',
        left: '77%',
        width:'20%',
        height: '400px;',
        'z-index': 999,
      },
      StatsStyleXS: {
        position: 'absolute',
        bottom: '0%',
        left: '10%',
        width:'80%',
        height: '400px;',
        'z-index': 999,
      },
      DatosStyle: {
        position: 'absolute',
        bottom: '5%',
        left: '3%',
        width:'100%',
        height: '400px;',
        'z-index': 999,
      },
      AyudaStyle: {
        position: 'absolute',
        top: '1%',
        right: '1%',
        width:'30%',
        'z-index': 999,
      },
      chartStyle: {
        position: 'absolute',
        bottom: '5%',
        left: '3%',
        width:'71%',
        height: '400px',
        'z-index': 999
      },
      chartData: '',
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 0,
            right: 25,
            top: 0,
            bottom: 0
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              stepSize: 5,
              //autoSkip: true,
              beginAtZero: true,
              //suggestedMin: -5,
              //suggestedMax: 15
            }
          }]
        },
      },
      sheet: false,
      loading: false,
      estaciones: this.estac,
      zoom: 7,
      center: latLng(-34.110085,-69.995763),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
      '&copy; <a href="https://ultimamilla.com.ar">Ultima Milla S..A</a>',
      withPopup: latLng(-33.0038554,-69.1839424),
      withTooltip: latLng(-33.0038554,-70.1839424),
      currentZoom: 11.5,
      currentCenter: latLng(-33.0038554,-70.1839424),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5,
        
      },
      showMap: true,
      clicked: {
        id: '',
        nombre: '',
        ult_dato: '',
        hora: '',
        temp: '',
      }
    };
  },
  methods: {

    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
    showLongText() {
      this.showParagraph = !this.showParagraph;
    },
    async estClick(nombre,codigo,id,tipo) {
      let sourceURL = ''
      if(tipo == 'DGI'){
        sourceURL = 'ianiglias?estacion'
      }else{
        sourceURL = 'datos?estacione'
      }
      this.loading = true;
      await axios.get(process.env.VUE_APP_API_BASE_URL+'/'+sourceURL+'='+id+'&_sort=Fecha:desc&_limit=1')
      .then(response => {
        if(tipo == 'DGI'){
          this.clicked.temp = response.data.[0].Temp_Prom
        }else{
          this.clicked.temp = response.data.[0].Temp_Aire
        }
        this.clicked.ult_dato = this.formatDate(response.data.[0].Fecha)
        this.clicked.nombre = nombre
        this.clicked.id = id
        this.loading = false
      })
      .catch(error => {
        this.loading = false
        console.log(error)
      })
      console.log(codigo)
      window.event.$emit('loadEstacionName', nombre)
    },
    reloadEstaciones(){
      window.event.$on('reloadEst', function (est) {
        this.estaciones = est
        this.populateMap(this.estaciones)

      }.bind(this));
    },
    filtrado(){
      window.event.$on('filtrado', function (a) {
        this.chartLoading = false
        this.showChartDataCard = true
        this.chartData = ''
        this.chartData = a
        this.variable = a.variable
        this.moverDatosCard()
        if(this.variable == 'P_atm'){
          this.chartOptions.scales.yAxes[0].suggestedMin = 500
          this.chartOptions.scales.yAxes[0].suggestedMax = 501
        }
      }.bind(this));
    },
    formatDate (aFecha){
      var fecha = aFecha.replace("Z","")
      fecha = fecha.replace("T"," ")

      var date = new Date(fecha)
      var dd = date.getDate(); 
      var mm = date.getMonth()+1;
      var yyyy = date.getFullYear()
      var hh = date.getHours()
      var mi = (date.getMinutes()<10?'0':'') + date.getMinutes()
      var ss = (date.getSeconds()<10?'0':'') + date.getSeconds()
      if(dd<10){dd='0'+dd} 
        if(mm<10){mm='0'+mm}
          return dd+'/'+mm+'/'+yyyy+" "+hh+":"+mi+":"+ss
      },
      populateMap(estaciones){
        estaciones.forEach(function(item, index) {
          estaciones[index].latLng = latLng(item.Latitud, item.Longitud)
        })
      },
      getEstacioName(e){
        var auxEs = this.estaciones.find(estacion => {
         return estacion.id == e
       })
        return auxEs.Nombre
      },
      async getlastDatoDate(){
        await axios.get(process.env.VUE_APP_API_BASE_URL+'/datos?_sort=Fecha:desc&_limit=1')
        .then(response2 => {
          this.lastdate = this.formatDate(response2.data[0].Fecha)
        })
        .catch(error => {
          console.log(error)
        })
      },
      moverDatosCard(){
        if(this.chartData){
          this.DatosStyle.bottom = '55%'
        }else{
          this.DatosStyle.bottom = '5%'
        }
      },
      cerrarChart: function(){
        this.showChartDataCard = false
        this.moverDatosCard()
      },
      cerrarDatos:function(){
        this.clicked.nombre = ''
      },
      cerrarStats(){
        this.mostrarStatsXS = false
      },
      mostrarStats(){
        this.mostrarStatsXS = true
      }
    },
    created(){
      //this.filtrado();
      this.reloadEstaciones()
      this.populateMap(this.estaciones)
      this.getlastDatoDate()
      window.event.$on('cambiarVariable', function (v) {
        this.variable = v
      }.bind(this));

    },
    updated(){
    },
    computed: {
      variableName(){
        var auxEs = this.variablesList.find(v => {
         return v.value == this.variable
       })
        return auxEs.text
      }
    }
  };
  </script>

  <style>
  canvas{
    height: 250px;
  }
  @media only screen and (max-width: 640px) {
    td{
      padding: 0px !important;
    }
    canvas{
      height: 250px !important;
    } 
  }

  </style>
