<template>
  <v-card 
  v-bind:style="styleObject"
  class="mx-auto"
  max-width="344"
  >
  <v-card-text>
    <div class="text--primary" v-if="promedioT != ''">
      Media del día: 
      <b>{{promedioT}} C°</b>
    </div>
    <div class="text--primary" v-if="maxT">
      Maxima del día:
      <b>{{maxT}} C°</b>
    </div>
    <div class="text--primary" v-if="minT">
      Minima del día: 
      <b>{{minT}} C°</b>
    </div>
    <div class="text--primary" v-if="!maxT">
      Aun no hay datos para mostrar
    </div>
  </v-card-text>
</v-card>
</template>
<script>
import axios from "axios";
export default {
  name: 'Card',
  props: ['estilo','nombre','estacione'],
  data() {
    return {
      estacion: this.estacione,
      styleObject: this.estilo,
      promedioT: "",
      maxT: "",
      minT: ""
    }
  },
  methods: {
    async mediaDia(){
      this.loading = true;
      var fechaGmt = new Date(Date.now());
      var d = fechaGmt.toISOString();
      var da = d.split('T')
      await axios.get(process.env.VUE_APP_API_BASE_URL+'/datos?estacione='+this.estacion+'&Fecha_lt='+da[0])
      .then(response => {
        this.loading = false
        var cant = response.data.length
        var sumTemp = 0 
        var sumAuxT = 0
        var minAuxT = 30
        response.data.forEach(function(item, index) {
          var Temp = response.data[index].Temp_Aire;
          sumTemp + sumTemp + Temp;
          if(Temp > sumAuxT){
            sumAuxT = Temp
          }
          if(Temp < minAuxT){
            minAuxT = Temp
          }
        })
        this.maxT = sumAuxT.toFixed(2)
        this.minT = minAuxT.toFixed(2)
        if(cant > 0){
          console.log(sumTemp)
          console.log(cant)
          this.promedioT = (sumTemp/cant).toFixed(2)
        }
      })
      .catch(error => {
        this.loading = false
        console.log(error)
      })
    }

  },
  created() {
    this.mediaDia();
  }
}
</script>
